<section>
  <img 
    (click)="this.showModal()"
    src="assets/icon.svg" alt="">
  <h1>NgClockPicker</h1>
  <div
      (click)="this.showModal()"
      placeholder="24h"
    >test</div>
  <form [formGroup]="form">
    <input
      formControlName="time"
      placeholder="Pick time: 24h"
      ngClockPicker
      [ngClockPickerConfig]="configB"
    />
    <input
      formControlName="time"
      placeholder="Pick time: AM/PM"
      ngClockPicker
      [ngClockPickerConfig]="configA"
    />
  </form>
</section>

